/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

#app{
    background: linear-gradient(180deg, #009688 13%, #D8DBD5 13%);
    height: 100vh;
}

/* regole container chat */
#container-webapp{
    display: flex;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%);
    /* regole debug */
    height: 800px;
    width: 65%;
    background-color: #fff;
}

.chat-list{
    /* regole debug */
    width: 30%;
    height: 100%;
}

.chat{
    /* regole debug */
    width: 70%;
    height: 100%;
    background-color: #f6f8f8;
}

/* regole chat-list */
/* regole header chat-list */
.header-chatList{
    width: calc(100% - 70%);
    height: 175px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
/* regole content user */
.content-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eceeed;
    padding: 10px 30px 10px 20px;
}

.content-user>img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.content-user i{
    padding-right: 20px;
    color: #898e8f;
    cursor: pointer;
}

/* regole content notified */
.content-notified{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    background-color: #96dbfd;
}

.content-notified>i{
    font-size: 15px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 100%;
    color: #96dbfd;
    background-color: #fff;
}

.content-notified h4{
    color: #466d8b;
}

.content-notified span{
    font-size: 15px;
    font-weight: lighter;
    text-decoration: underline;
    color: #76b2cd;
}

/* regole search bar  */
.content-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /* background-color: #fdfdfd; */
    background-color: #eceeed;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 95%;
    height: 30px;
    background-color: #fff;
    padding: 5px;
}

.searchbar>i{
    color: #cecece;
    margin-left: 3%;
}

.searchbar>input{
    width: 70%;
    margin-left: 15%;
    border-style: inherit;
    padding: 5px 0;
    outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
    color: #cecece;
    font-weight: bold;

}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cecece;
    font-weight: bold;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cecece;
    font-weight: bold;
    opacity: 1;
}

/* regole main chat-list */
.main-chatList{
    height: calc(100% - 175px);
    margin-top: 175px;
    overflow-y: scroll;
}
.main-chatList li{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-chatList img{
    width: 50px;
    border-radius: 100%;
    margin-left: 3%;
}

.content-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c8c8c8;
    margin-left: 5%;
    padding-bottom: 10px;
}

.user-text>h4{
    font-size: 17px;
    color: #718792;
}

.user-text>span{
    font-size: 13px;
    color: #abbcc5;
}

.date{
    padding-right: 2%;
    font-size: 13px;
    color: #c8c8c8;
}

/* regole chat */
.container-conversation{
    height: 100%;
    width: 100%;
}

/* regole conversation unopened */
.conversation-unopened{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversation-unopened h3{
    margin-top: 20px;
    text-align: center;
    color: #466d8b;
    font-size: 30px;
}

/* regole container conversaton */
/* .container-conversation{
    display: none;
} */

/* regole header conversation */
.header-conversation{
    height: 60px;
    background-color: #eceeed;
    border-left: 1px solid #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.header-conversation>.info-contact{
    display: flex;
    align-items: center;
}

.header-conversation>.info-contact img{
    width: 30px;
    border-radius: 100%;
    margin-right: 10%;
}


.header-conversation>.settings i{
    color: #898e8f;
    padding-right: 15px;
}

/* regole main conversation */
.main-conversation{
    height: calc(100% - 130px);
    background-image: url(../img/sfondo-chat.png);
    background-size: contain;
}


/* regole footer conversation */
.footer-conversation{
    height: 70px;
    background-color: #f6f2ec;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-conversation>input{
    width: 75%;
    padding: 10px;
    border-style: inherit;
    outline: none;
}

.footer-conversation>i{
    color: #898e8f;
    font-size: 30px;
}