<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>Booltsapp Web</title>
    <!-- link vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- link scroll vuejs -->
    <script src=" https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js "></script>
    <!-- link my js -->
    <script src="js/main.js"></script>
    <!-- link my css -->
    <link rel="stylesheet" href="css/master.css">
</head>

<body>
    <div id="app">
        <!--container whatsapp  -->
        <div id="container-webapp">
            <!-- container lato sinistro lista chat -->
            <div class="chat-list">
                <!-- container top chat list -->
                <div class="header-chatList">
                    <!-- container img utente e icon impostazioni -->
                    <div class="content-user">
                        <img src="img/lore.jpg" alt="">
                        <div>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- container attiva notifiche -->
                    <div class="content-notified">
                        <i class="fas fa-bell-slash"></i>
                        <div>
                            <h4>
                                Get notified of new messages
                            </h4>
                            <span>
                                Turn on desktop notifications
                            </span>
                        </div>
                    </div>
                    <!-- container input per ricerca chat -->
                    <div class="content-search-bar">
                        <div class="searchbar">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Search of start new chat" v-model="searchName">
                        </div>
                    </div>
                </div>
                <!-- corpo centrare lista chat -->
                <div class="main-chatList">
                    <ul>
                        <!-- ciclo di vuejs per creare tanti li quanti elementi array in js -->
                        <li v-for="(elem, index) in filteredContacts" @click="clickChat(elem, index)">
                            <img :src="elem.img" alt="">
                            <div class="content-info">
                                <div class="user-text">
                                    <h4>
                                        {{elem.name}}
                                    </h4>
                                    <span>
                                        {{elem.message[elem.message.length - 1].text}}
                                    </span>
                                </div>
                                <div class="date">
                                    {{elem.message[elem.message.length - 1].hour}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container sezione chat -->
            <div class="chat">
                <!-- container pagina prima del click su chat a scelta-->
                <div class="conversation-unopened" v-show="display">
                    <div>
                        <img src="img/smartphone.png" alt="">
                        <h3>
                            Keep your phone connected
                        </h3>
                        <h2>
                            CREATED by JUMBOTRON &hearts;
                        </h2>
                    </div>
                </div>
                <!-- container conversazione chat  -->
                <div class="container-conversation" v-show="!display">
                    <!-- container top conversazione  -->
                    <div class="header-conversation">
                        <!-- container info chat che cambia in base al click -->
                        <div class="info-contact">
                            <img :src="contacts[activeContact].img" alt="">
                            <h4>{{contacts[activeContact].name}}</h4>
                        </div>
                        <!-- container icons setting -->
                        <div class="settings">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- corpo centrale conversazione -->
                    <div class="main-conversation" v-chat-scroll >
                        <div class="content-msg" >
                            <ul >
                                <!-- ciclo per stampare tutti i mex contenenti in array usando il msg.status (lo status è uguale alla key in object array message e la key è uguale alla classe in css) -->
                                <li class="message" :class="msg.status" v-for="(msg, indexMsg) in contacts[activeContact].message" @mouseover="indMsg(indexMsg)" @mouseenter="hoverChevron(msg)">
                                    <div class="content-text-msg">
                                        <span>
                                            {{msg.text}}
                                        </span>
                                        <i class="fas fa-chevron-down" @click="clickChevron(msg)" :class="(msg.chevron) ? 'active' : ''">
                                            <ul class="secretlist" :class="(msg.dropDown) ? 'active' : '' ">
                                                <li v-for="(elem, index) in listaMenu" @click="removeMsg(index),  msgImportant(msg, index)">
                                                    {{elem}}
                                                </li>
                                            </ul>
                                        </i>
                                        
                                    </div>
                                    
                                    <div class="hours">
                                        <i class="fas fa-star" :class="(msg.msgKey) ? 'active' : '' " ></i>
                                        <span>
                                            {{msg.hour}}
                                        </span>
                                        <img src="img/spunte.png" alt="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- container footer  -->
                    <div class="footer-conversation">
                        <i class="fas fa-smile"></i>
                        <input type="text" placeholder="Type a message..." v-model="newMsg" @keyup.enter="addMsgSent" >
                        <!-- <i class="fas fa-microphone" v-show="display"></i> -->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="imgsvg">
                            <path fill="currentColor" d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>